.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 75vh;
    max-width: 120rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    .content {
        padding: 1.5rem;
        overflow: hidden;

        .loadWrapp {
            float: left;
            width: 10rem;
            height: 10rem;
            margin: 0 1rem 1rem 0;
            padding: 2rem 2rem 2rem;
            border-radius: 0.5rem;
            text-align: center;

            .load {
                .line {
                    display: inline-block;
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 1.5rem;
                    background-color: var(--color-primary);

                    &:nth-last-child(1) {
                        animation: loadingC 0.6s 0.1s linear infinite;
                    }

                    &:nth-last-child(2) {
                        animation: loadingC 0.6s 0.2s linear infinite;
                    }

                    &:nth-last-child(3) {
                        animation: loadingC 0.6s 0.3s linear infinite;
                    }
                }

            }
        }
    }
}

@keyframes loadingC {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 1.5rem);
    }

    100% {
        transform: translate(0, 0);
    }
}