$root-font-size: 10px;

:root {
  font-size: $root-font-size;
}

@mixin convertToRem($property, $values...) {
  $remValues: (
  );

@each $value in $values {
  $remValues: append($remValues, $value / $root-font-size);
}

#{$property}: $remValues * 1rem;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100vh;
}

.app {
  width: 100%;
  height: 100%;
  height: 100vh;
  display: flex;

  .appContainer {
    overflow: hidden;
    flex: 6;
    height: 100vh;

    .appWrapper {
      height: 100%;
      padding: 3rem;
      overflow: auto;
    }
  }
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}