.home {
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;

    @media screen and (max-width: 1136px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 700px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .box {
        padding: 20px;
        border-radius: 10px;
        background-color: #f5f3ff;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;


        // widggets
        &.box1 {
            grid-column: span 4;
            grid-row: span 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            gap: 20px;
            overflow-x: auto;

            &::-webkit-scrollbar {
                width: 20px;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: #d8b4fe;
                border-radius: 10px;
            }
        }

        // top users
        &.box2 {
            grid-column: span 1;
            grid-row: span 3;
            overflow-y: auto;
            max-height: 570px;

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: #e9d5ff;
                border-radius: 10px;
            }
        }

        &.box3 {
            grid-column: span 1;
            grid-row: span 1;
        }

        &.box4 {
            grid-column: span 1;
            grid-row: span 1;
        }

        &.box5 {
            grid-column: span 1;
            grid-row: span 3;
        }

        &.box6 {
            grid-column: span 2;
            grid-row: span 2;
        }

        &.box7 {
            grid-column: span 1;
            grid-row: span 1;
        }


        // top users
        // &.box2 {
        //     grid-column: span 1;
        //     grid-row: span 2;
        //     max-height: 600px;
        //     overflow-y: auto;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: #e5e7eb;
            border-radius: 10px;
        }

        // }

        // &.box3 {
        //     grid-column: span 1;
        //     grid-row: span 1;
        //     overflow-y: auto;
        // }

        // &.box4 {
        //     grid-column: span 1;
        //     grid-row: span 1;
        //     overflow-y: auto;
        // }
    }
}