.categoriesPage {
    position: relative;
    min-height: 100vh;

    .categoryWrapper {
        min-height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        padding: 20px;
    }
}