.categoriesPage {
    position: relative;

    .categoryWrapper {
        min-height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 1.5rem;
        padding: 2rem;
    }
}