.categoriesPage {
    position: relative;
    min-height: 85vh;

    .categoryWrapper {
        min-height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding: 2rem;
    }
}