.sidebar {
    flex: 1;
    border-right: 0.05rem solid lightgray;
    z-index: 100;
    background-color: #fff;

    .top {
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            font-size: 2rem;
            font-weight: bold;
            color: #6439ff;
        }

    }

    .hr {
        width: 100%;
        height: 0.05rem;
        background-color: lightgray;
    }

    .center {
        padding-left: 1rem;

        ul {
            .title {
                font-size: 1rem;
                font-weight: bold;
                color: #999;
                margin-top: 1.5rem;
                margin-bottom: 0.5rem;
            }

            li {
                display: flex;
                align-items: center;
                padding: 0.8rem;
                cursor: pointer;
                border-radius: 0.5rem;

                &:hover {
                    background-color: #ece8ff;
                }

                .icon {
                    font-size: 1.8rem;
                    color: #7764ba;
                }

                span {
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: #888;
                    margin-left: 1rem;

                    @media screen and (max-width:640px) {
                        display: none;
                    }

                }
            }
        }
    }

}