.categoryCard {
    display: flex;
    width: calc(50% - 1.5rem);
    min-width: 25rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    min-height: 25rem;
    background-color: var(--background-secondary);

    &.popular {
        border: 0.1rem solid var(--color-primary);
    }

    .category-image {
        img {
            width: 10rem;
        }
    }

    .categoryDetails {

        .category-title {
            font-size: 1.2rem;
            color: var(--color-base);
        }
    }

    .colorContainer {
        min-width: 15%;
        border-radius: 0.5rem;
        height: 2rem;
    }

    .buttonContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .actionButton {
            padding: 0.8rem 1.2rem;
            border-radius: 0.5rem;
            font-size: 1.6rem;


            &.delete {
                background-color: #f87171;
                color: #b91c1c;
            }

            &.update {
                background-color: #22d3ee;
                color: #0e7490;
            }
        }
    }
}