.categoryContainer {
    .title {
        margin: 50px 0;
    }

    .categories {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;


        .category {
            width: 15%;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            text-transform: capitalize;
            border-radius: 10px;

            .categoryTitle {
                color: #374151;
                font-weight: 400;
            }

            .image {
                border-radius: 50%;
                width: 32px;
                height: 32px;
            }

            @media screen and (max-width:1280px) {
                width: 20%;
            }

            @media screen and (max-width:1024px) {
                width: 25%;
            }

            @media screen and (max-width:768px) {
                width: 45%;
            }

            @media screen and (max-width:480px) {
                width: 100%;
            }

        }


    }
}