.error-container {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background-color: #ff0000;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    opacity: 0.9;
    transition: opacity 0.5s;
    z-index: 1000;
}

.error-message {
    margin: 0;
}