.singleBlog {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    @media screen and (max-width: 768px) {
        width: 95%;
    }

    .title {
        font-size: 64px;
        margin-bottom: 50px;

        @media screen and (max-width: 1280px) {
            font-size: 54px;
        }

        @media screen and (max-width: 1024px) {
            font-size: 48px;
        }

        @media screen and (max-width: 768px) {
            font-size: 36px;
        }
    }

    .infoContainer {
        display: flex;
        flex-direction: column;

        .user {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            gap: 5px;
            justify-content: flex-end;
            padding-right: 25px;
            margin-top: 20px;

            .userImageContainer {
                width: 50px;
                height: 50px;

                .avatar {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .userTextContainer {
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                gap: 5px;
                color: var(--softTextColor);

                .username {
                    font-size: 20px;
                    font-weight: 500;
                }

            }
        }

        .imageContainer {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;

            .image {
                object-fit: contain;
                width: 80%;
                height: 80%;
            }
        }
    }

    .content {
        display: flex;
        width: 100%;

        .post {
            margin-top: 10px;
            width: 100%;

            .desc {
                font-size: 24px;
                font-weight: 300;
                margin-bottom: 20px;
                width: 100%;

                @media screen and (max-width: 768px) {
                    font-size: 20px;
                }

                @media screen and (max-width: 640px) {
                    font-size: 18px;
                }
            }
        }
    }
}