.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    width: 100%;

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.8rem 1.2rem;
        border-radius: 1rem;
        color: #fff;
        gap: 1rem;

        &.prev {
            background-color: #b91c1c;
        }

        &.next {
            background-color: #15803d;
        }
    }
}