.blogArticle {
    margin: 4rem 0;
    width: 100%;

    .container {
        max-width: 50rem;
        margin: 0 auto;
        padding: 0 0.5rem 0 0.5rem;
        height: 100%;

        @media screen and (max-width:768px) {
            width: 35rem;
        }

        @media screen and (max-width:640px) {
            width: 27rem;
        }

        @media screen and (max-width:480px) {
            width: 24rem;
        }

        .postWrapper {
            width: 100%;
        }
    }
}